.curriculum{
    display: flex;
   color: black;
   width: 80%;
   margin-left: 130px;
   background: #2971cf;
}

.formacion1{
    width: 30%;
   color: white;
}
.img{
    width: 80%;
    border-radius: 50%;
   
}
.photo{
    text-align: center;
    border-bottom:2px solid white ;
}
li{
    list-style: none;
}
.contact{
    border-bottom:2px solid white ;
}
.contact h1{
text-align: center;
}
.contact ul{
    font-size: 20px;
    font-family: Gill Sans, sans-serif;
}
.idioma{
    border-bottom:2px solid white ;
}
.idioma h1{
    text-align: center; 
}
.idioma ul{
    font-size: 20px;
    font-family: Gill Sans, sans-serif;
}
.idioma i{
    font-size: 12px;
}
.habilidades{
    border-bottom:2px solid white ;
}
.habilidades i{
    font-size: 12px;
}
.habilidades h1{
    text-align: center;
    
}
.habilidades ul{
    font-size: 20px;
    font-family: Gill Sans, sans-serif;
}
.diverso h1{
    text-align: center;
}
.diverso ul{
    font-size: 20px;
    font-family: Gill Sans, sans-serif;
}



/*************************informacion 2*****************************************/
.formacion2{
    width: 70%;
    background: url('./img/bg.png');
    background-size:cover ;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.formacion2 h1{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
   color: white;
   background: #2971cf;
   font-style: italic;
   font-family: DejaVu Sans Mono, monospace;
}
.profil ul{
    font-size: 18px;
    font-family: Gill Sans, sans-serif;
}
.formación ul{
    font-size: 18px;
    font-family: Gill Sans, sans-serif;
}
.HabilidadesTecnicas ul{
    font-size: 18px;
    font-family: Gill Sans, sans-serif;
}
.HabilidadesTecnicas i{
    font-size: 12px;
}
.CompentenciasProfesionales ul{
    font-size: 18px;
    font-family: Gill Sans, sans-serif;
}
.CompentenciasProfesionales i{
    font-size: 12px;
}